@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat';
}

body::-webkit-scrollbar {
  @apply block w-2.5 h-2;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded;
}

@layer utilities {
  .bg-light-background {
    background-color: #fafbff;
  }
  .w-full-1-rem {
    width: calc(100% - 1rem);
  }
  .max-h-1-rem {
    height: calc(100vh - 1rem);
  }
}
